<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.memberMapper">
	<insert id="addUser" parameterType="Member">
		insert into tbluser(id,name,birth,email,address,nation,phone,
		password,mileage) 
		values(#{id},#{name},#{birth},#{email},#{address},#{nation},#{phone},
		#{password},0)
	</insert>
	
	<select id="selectByEmail" parameterType="Login" resultType="Member">
		select * from tbluser where id=#{log_id} and password=#{log_password}
	</select>
	
	<select id="updateUser" parameterType="String" resultType="Member">
		select * from tbluser where id=#{id}
	</select>
	
	
	<update id="update" parameterType="Update">
		update tbluser set name=#{name},birth=#{birth},email=#{email},address=#{address}
		,nation=#{nation},phone=#{phone} where id=#{id}
	</update>
	
	<delete id="drop" parameterType="String">
		delete from tbluser where id =#{id}
	</delete>
</mapper>