@charset "utf-8";

@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 400;
	src: url('webfont/NanumGothic-Regular.eot');
	src: url('webfont/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
	url('webfont/NanumGothic-Regular.woff') format('woff'),
	url('webfont/NanumGothic-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 700;
	src: url('webfont/NanumGothic-Bold.eot');
	src: url('webfont/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
	url('webfont/NanumGothic-Bold.woff') format('woff'),
	url('webfont/NanumGothic-Bold.ttf') format('truetype');
}


/* Common */
html{overflow-y:scroll}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0;font-weight:normal;}
html:first-child select{height:20px}
body,input,textarea,button,table{font-family:"NanumGothic", Gulim, '굴림', Dotum, '돋움', Helvetica, Arial, sans-serif;font-size:13px;color:#222;}
table{font-size:1em;}
img,fieldset{border:0}
ul,ol,li{list-style:none;}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:none;cursor:pointer;}
a,a:hover,a:active,a:focus{color:#333;}
a:focus{cursor:pointer}
header,hgroup,article,nav,footer,figure,figcaption,canvas,section{display:block}
table{width:100%;border:0 none;border-spacing:0}
caption,th,td{border:0 none;font-weight:normal;text-align:left}
caption{ width:0;height:0;font-size:0;line-height:0}
button{cursor:pointer}
hr{display:none}
em{font-style:normal}
.blind, legend, .accessibility{display:block;overflow:hidden;position:absolute;top:-5000px;left:-9999em;width:0;height:0;font-size:0;line-height:0}
address,caption,strong,em,cite{font-weight:normal;font-style:normal}
img,input,button,textarea,select{vertical-align:middle}

.clear{clear:both}
.clear:after{display:block;visibility:hidden;clear:both;height:0;font-size:0;line-height:0;content:'.'}

.blind{display:none;}
input{background:#fff !important}

/* IR */
.screen_out {overflow:hidden;position:absolute;top:-9999px;left:-9999px;width:1px;height:1px;font-size:1px;}

/* float clear */
.clearfix:after{clear:both;display:block;content:"";height:0;visibility:hidden;}
* html .fclear{height:1px;}
.clearfix{display:block;min-height:1px;}

/* margin */
.mt_5{margin-top:5px;}
.mt_10{margin-top:10px;}
.mt_20{margin-top:20px;}
.mt_25{margin-top:25px;}
.mt_30{margin-top:30px;}

.ml_75{margin-left:75px;}

/* box align */
.fl{float:left;}
.fr{float:right;}
.fc{clear:both;}

/* text align */
.ta_l{text-align:left;}
.ta_r{text-align:right;}
.ta_c{text-align:center;}

/* position align */
.poss { position: static;}
.posr { position: relative;}
.posa { position: absolute;}
.posf { position: fixed;}

/* dvice show/hide */
.deskshow { display: block;}
.mobshow { display: none;}
.tabletshow { display: none;}

/* slider prev next arrow */
.slider-btn {text-indent:-9999em; display:block; position:absolute; top:35%; width:23px; height:45px; background:url('/content/dam/happybath/images/main/item-arrow.gif') no-repeat left top;}
.slider-btn.prev {left:0; }
.slider-btn.prev:hover {background-position:left -45px;}
.slider-btn.next {right:0; background-position:-25px top}
.slider-btn.next:hover {background-position:-25px -45px;}

/* 공통 페이지 상단 타이틀 */
.page-top {text-align:center;}
.page-top-tit {font-size:24px; padding-top:48px; text-align:center;font-weight: bold;line-height: 1; color:#341c17;}
.page-top-txt {padding-top:15px; font-size:16px;line-height: 1;}
.common-con-wrap strong{font-weight:700; color:#341c17;}

/* 슬라이드 css */
.responsive-slide {position:relative; padding-top:50px; z-index: 1;}
.responsive-slide .responsive-slide-wrap .direction {position:absolute; top:50%; margin-top:-20px; background:url('/content/dam/happybath/images/main/item-arrow.gif') no-repeat; text-indent:-9999em; z-index:1; width:23px; height:45px;}
.responsive-slide .responsive-slide-wrap .direction.prev {left:0; margin-left:-40px; background-position:left top;}
.responsive-slide .responsive-slide-wrap .direction.prev:hover {background-position:left -45px;;}
.responsive-slide .responsive-slide-wrap .direction.next {right:0; margin-right:-40px; background-position:right top;}
.responsive-slide .responsive-slide-wrap .direction.next:hover {background-position:right -45px;}
.responsive-slide .responsive-slide-wrap .view {width:100%; overflow:hidden;}
.responsive-slide .responsive-slide-wrap .view .responsive-list {display:table; table-layout:fixed;}
.responsive-slide .responsive-slide-wrap .view .responsive-list .wrap {display:table-cell;}
.responsive-slide .icons {width:100%; display:table; table-layout:fixed;}
.responsive-slide .icons li.item {display:table-cell; text-align:center; position:relative;}
.responsive-slide .icons li.item img {display:inline-block;}
.responsive-slide .indicate-list {text-align:center; padding-top:5px;}
.responsive-slide .indicate-list li {display:inline-block; margin:5px;}
.responsive-slide .responsive-slide-wrap .item span {display:block; text-align:center; padding-top:15px; font-size:16px; line-height:20px; min-height:20px; max-height:40px; overflow:hidden; letter-spacing:-1px;}
.responsive-slide .responsive-slide-wrap .item a:hover span {font-weight:700;}
.responsive-slide .indicate-list li button{width:12px; height:15px; text-indent:-9999em; background:url("/content/dam/happybath/images/main/slider-indicator.png") no-repeat right top;}
.responsive-slide .indicate-list li.active button {background-position:left top;}

.responsive-slide.slide-tab {padding-top:0px;}
.responsive-slide.slide-tab .responsive-slide-wrap .view {width:90%; margin:0 auto;}
.responsive-slide.slide-tab .responsive-slide-wrap .direction.next {margin-right:0px;}
.responsive-slide.slide-tab .responsive-slide-wrap .direction.prev {margin-left:0px;}

/*.related-product .responsive-slide .icons {width:100%; display:table; table-layout:fixed;}*/
.related-product .responsive-list .item{padding:0 10px;}
.related-product .responsive-list .item img{max-width:100%;}

/*.natural-related .related-product .responsive-list .item {max-width:none; width:195px;}*/

.no-data{text-align:center;padding:30px 0;}


.item1{display:inline-block;}
.item1 .i_text{display:block;position:relative;width:273px;margin:0;height:30px;line-height:30px;font-size:13px;letter-spacing:-0.02em;color:#c8c8c8;padding:2px 8px 1px 10px;border:1px solid #B5B5B5;}
.item1 .i_label{display:none;}


div.joinagree input.i_text#i_address1, div.joinagree input.i_text#i_address2{margin-top:0;}
div.joinagree input.i_text{display:inline-block;position:relative;width:30px;height:25px;line-height:25px;font-size:11px;letter-spacing:-0.02em;color:#c8c8c8;padding:2px 10px 1px;border:0;}


/*추가*/
.mt_20{margin-top:20px !important;}
.mt_30{margin-top:30px !important;}

















