@CHARSET "utf-8";

h2{font-size:21px;color:#333;font-weight:500;margin-bottom:10px;}
h2 span{font-size:13px;color:#727272;padding-left:10px;}
/* Controls */
.controls {position:absolute;top:7px;right:10px;}
.btn{background:none;border:none;box-shadow:none;}
.btn .fa{color:#333;font-size:22px;}

/* Example wrapper */
.wrap{position:relative;margin:3em 0;}

/* Frame */
.frame{height:250px;line-height:250px;overflow:hidden;}
.frame ul{list-style:none;margin:0;padding:0;height:100%;font-size:50px;}
.frame ul li{position:relative;float:left;width:227px;height:100%;margin:0 1px 0 0;padding:0;background:#333;color:#ddd;text-align:center;cursor:pointer;}
.frame ul li.active{color:#fff;background:#a03232;}
.frame ul li img{position:absolute;top:0;left:0;}

#cycleitems.frame ul li p{position:absolute;bottom:0px;left:0;display:inline-block;width:227px;height:70px;background:url(../img/main/bg_hover.png) repeat 0 0;line-height:normal;}
/*#cycleitems.frame ul li.active{border:4px solid #000;width:219px;height:242px}
#cycleitems.frame ul li.active img{width:219px;height:242px}
#cycleitems.frame ul li:hover{border:4px solid #000;width:219px;height:242px}
#cycleitems.frame ul li:hover img{width:219px;height:242px}*/
#cycleitems.frame ul li p span{color:#919090;font-size:13px;position:absolute;bottom:39px;right:10px;}
#cycleitems.frame ul li p em{color:#fefefe;font-size:16px;position:absolute;bottom:16px;right:10px;}

/* One Item Per Frame example*/
.oneperframe { height: 350px; line-height: 350px; }
.oneperframe ul li { width: 1140px; }
.oneperframe ul li.active { background: #333; }

/* Scrollbar */
.scrollbar{margin:0 0 1em 0;height:2px;background:#ccc;line-height:0;}
.scrollbar .handle{width:100px;height:100%;background:#292a33;cursor:pointer;}
.scrollbar .handle .mousearea{position:absolute;top:-9px;left:0;width:100%;height:20px;}
/* Pages */
.pages{list-style:none;margin:20px 0;padding:0;text-align:center;}
.pages li{display:inline-block;width:14px;height:14px;margin:0 4px;text-indent:-999px;border-radius:10px;cursor:pointer;overflow:hidden;background:#fff;box-shadow:inset 0 0 0 1px rgba(0,0,0,.2);}
.pages li:hover{background:#aaa;}
.pages li.active{background:#666;}

div.wrap:after {content:" "; display:block; clear:both;}
div.le, div.ri{width:558px;margin-right:24px;display:inline-block;float:left;}
div.ri{margin-right:0;}
div.ri a.plus{display:inline-block;position:absolute;top:5px;right:5px;}
div.le h2, div.ri h2{background:url(../img/main/tit_line.jpg) no-repeat 0 100%;line-height:31px;padding-bottom:2px;}
div.essay div.contents{margin-top:15px;}
div.essay div.contents a img{width:556px;height:auto;border:1px solid #ddd;}
div.essay div.contents a.txt_w{display:block;padding:20px;border:1px solid #ddd;height:125px;overflow:hidden;}
div.essay div.contents a.txt_w em{color:#afafaf;}
div.essay div.contents a.txt_w em.date{border-right:2px solid #ddd;padding-right:10px;}
div.essay div.contents a.txt_w em.name{padding-left:10px;}
div.essay div.contents a.txt_w span.txt{color:#585858;line-height:1.5em;display:inline-block;margin-top:10px;}
div.notice{position:relative;}
div.notice div.contents{border:1px solid #ddd;padding:22px 10px;margin-top:15px;}
div.notice div.contents ul.list_v1{padding:0 0 0 10px;}
div.notice div.contents ul.list_v1 li{background:url(../img/common/bu_01.gif) no-repeat 0 11px;text-indent:10px;line-height:1.75em;}
div.notice div.contents ul.list_v1 li a{color:#585858;}
div.notice div.contents ul.list_v1 li span{position:absolute;right:15px;}
div.notice.v2{margin-top:25px;}










